<div class="hero-unit">
<h1>Welcome to my 1 Month Rails!</h1>
<p>
	You've found the home page for the
	<%= link_to "One Month Rails", "http://www.onemonthrails.com"%>
</p>
<p>
	<%= link_to "Sign up Now!", "#", class: "btn-primary btn-large" %>
</p>
</div>
