// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$btnPrimaryBackground: orange;

/*Below: Sets base font and imports fontstyle;
*/

$baseFontFamily: Lato;
@import url(http://fonts.googleapis.com/css?family=Lato);

@import 'bootstrap';

body{
	padding-top: 60px;
}

@import 'bootstrap-responsive'; 

.footer {

	margin-top: 60px;
	color: $grayLight;
	a {
		color:gray;
	}
}

/* required for jQuery Masonry */

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	margin: 10px 0 5px;
}